@tailwind base;
@tailwind components;
@tailwind utilities;

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  width: 22px;
  height: 22px;
  color: azure;
  z-index: 20;
}

.mySwiper .swiper-button-prev::after,
.mySwiper .swiper-button-next::after {
  font-size: 14px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
